<div class="feature-container"> 
    <div class="feature-line">
        <h2>当制作室の特徴<br /><span>FEATURE</span></h2>
        <div class="feature-list">
            <div class="feature-list-item">
                <div class="feature-list-item-image">
                    <img src="../src/assets/feature1.png" alt="feature1" />
                </div>
                <div class="feature-list-item-text">
                <h3>一気通貫で対応</h3>
                <p>企画からWebデザイン、写真撮影、取材、ライティング、コーディング、アクセス解析、SEO、SNS運用まで、Web制作・Web運用にかかわることは一通り対応可能です。
                対応が難しい領域については外部パートナーのご紹介なども可能ですので、まずはご相談ください。</p>
                </div>
            </div>
            <div class="feature-list-item">
                <div class="feature-list-item-image">
                    <img src="../src/assets/feature1.png" alt="feature1" />
                </div>
                <div class="feature-list-item-text">
                <h3>幅広い経験</h3>
                <p>代表の伊藤は、新卒で印刷会社に入社。営業・Webディレクターを務めた後に、Web系のスタートアップに転職。プロダクトマネージャー、コミュニティマネージャーを担当しました。
                そのほかに、スチールカメラマン、舞台照明、ショート動画編集などの経験もあります。幅広い経験から施策をご提案します。</p>
                </div>
            </div>
            <div class="feature-list-item">
                <div class="feature-list-item-image">
                    <img src="../src/assets/feature1.png" alt="feature1" />
                </div>
                <div class="feature-list-item-text">
                <h3>ことばに強い</h3>
                <p>代表の伊藤は、熊本大学文学部文学科を卒業。在学中は、日本語日本文学研究室に在籍していました。卒業論文は「太宰治の私小説的作品について」。授業では、「“にぎる”と“つかむ”の違い」の分析に取り組んだりもしました。
                趣味は、辞書の引き比べとレトロニム収集。ことばの疑問を集めた『自然言語演習 日本語篇』という本も制作・販売しています。</p>
                </div>
            </div>
            <div class="feature-list-item">
                <div class="feature-list-item-image">
                    <img src="../src/assets/feature1.png" alt="feature1" />
                </div>
                <div class="feature-list-item-text">
                <h3>しらべもの大好き</h3>
                <p>未知のプロジェクトであればあるほどわくわくします。知らない領域については、本や動画などで一気に情報をインプットしたり、自分で実際に試して知識を増やしていくのが大好きです。また、これまで経験や知識を元にして、「この領域でもこうすれば上手くいくんじゃないか？」とアナロジーを効かせて対応します。</p>
                </div>
            </div>

    </div>
</div>