<div class="service-container">
    <div class="service-line">
        <h2>提供サービス<br /><span>SERVICE</span></h2>
        <div class="service-text">
            これまでの経験・知識を生かして、以下のサービスを提供しています。<br />
            課題やお悩みに対して柔軟な提案が可能ですので、まずはご相談ください。
        </div>
        <div class="service-list">
            <div class="service-list-item">
                <h3>Web担当者代行</h3>
                <p>月額契約であなたの会社・お店のWeb担当者に！Webサイトの制作から更新作業まで担当いたします。定例会議を設け、その時々のご要望にお応えします。</p>
                <p class="service-button">詳しく見る →</p>
            </div>
            <div class="service-list-item">
                <h3>Webサイト制作</h3>
                <p>長期的な運用を前提としたWebサイトを定額で制作します。保守・運用費もリーズナブルに設定。また、ご自身でサイトを更新できるように支援いたしますので、安心してご依頼ください。</p>
                <p class="service-button">詳しく見る →</p>
            </div>
            <div class="service-list-item">
                <h3>広報支援</h3>
                <p>取材を通じて、御社の魅力を伝える記事を制作します。また、SEOを意識したコンテンツ制作も可能です。ヘルプ記事、プロダクト解説記事などもお任せください。</p>
                <p class="service-button">詳しく見る →</p>
            </div>
            <div class="service-list-item">
                <h3><span>and more…</span></h3>
                <p>ここに書かれていないことについても、ご相談いただいたことに対して、手持ちのスキル・知識・経験で対応可能な施策をご提案いたします。お困りのことがあって、当制作室に依頼してみたいことがあれば、まずはお気軽にご相談くださいませ。</p>
            </div>
    </div>

    <style>
        h3 span {
            background-color: black;
            padding:0 18px;
            color: white;
        }
    </style>