<div class="top-container">
		<div class="top-grid-container">
			<div class="top-grid-copy-box">
				<p>
					つくる、<br />
					つたえる、<br />
					ひろげる。<br />
				</p>
			<div class="circle"></div>
			</div>
			<div class="top-grid-text">
				<p>
					蓼食う本の虫制作室は、Webを中心にさまざまなクリエイティブを提供する制作プロダクションです。<br /><br />
				</p>
				<p>
					Webメディア「蓼食う本の虫」の運営などで培った経験を元に、つくる、つたえる、ひろげる活動のお手伝いをします。
				</p>
				<p class="about-button">当制作室について <span style="color:white; -webkit-text-stroke: 1px;">→</span></p>
			</div>
		</div>
	</div>