<div class="top-container">
		<div class="top-grid-container">
			<div class="top-grid-copy-box">
				<p>
					つくる、<br />
					つたえる、<br />
					ひろげる。<br />
				</p>
			<div class="circle"></div>
			</div>
			<div class="top-grid-text">
				<p>
					蓼食う本の虫制作室は、Webを中心にさまざまなクリエイティブを提供する制作プロダクションです。<br /><br />
				</p>
				<p>
					Webサイトを作るだけではなく、コンテンツSEO施策を中心に、お問い合わせや売上げアップに貢献する施策をご提案します。
				</p>
				<p class="about-button">当制作室について <span style="color:white; -webkit-text-stroke: 1px;">→</span></p>
			</div>
		</div>
	</div>