---
import { Image } from 'astro:assets';
import TadekuImage from "./src/assets/tadeku.png";
---

<div class="works-container">
		<h2>つくったもの<br /><span>WORKS</span></h2>
		<div class="works-list">
            <div class="works-list-item">
                <Image src={TadekuImage} alt="画像の説明。" />
                <p class="works-list-item-title">蓼食う本の虫</p>
                <p class="works-list-item-category">Webサイト / 記事制作 / SNS運用</p>
            </div>
            <div class="works-list-item">
                <img src="../src/assets/tenkaisha.png" alt="tenkaisha-screenshot" />
                <p class="works-list-item-title">一般社団法人転回社</p>
                <p class="works-list-item-category">Webサイト / 写真 / 広報 / チラシ</p>
            </div>
            <div class="works-list-item">
                <img src="../src/assets/cat-in-the-park.png" alt="tadeku-screenshot" />
                <p class="works-list-item-title">Cat in the Park.</p>
                <p class="works-list-item-category">動画 / 写真 / Webサイト</p>
            </div>
            <div class="works-list-item">
                <img src="../src/assets/tadeku.png" alt="tadeku-screenshot" />
                <p class="works-list-item-title">『自然言語演習 日本語篇』</p>
                <p class="works-list-item-category">執筆 / 組版 / 装丁デザイン</p>
            </div>
            <div class="works-list-item">
                <img src="../src/assets/tadeku.png" alt="tadeku-screenshot" />
                <p class="works-list-item-title">『游象』</p>
                <p class="works-list-item-category">企画 / 編集 / 組版 / 装丁デザイン</p>
            </div>
            <div class="works-list-item">
                <img src="../src/assets/tadeku.png" alt="tadeku-screenshot" />
                <p class="works-list-item-title">Better Practice</p>
                <p class="works-list-item-category">Webサイト / 記事制作</p>
            </div>


		</div>
	</div>