---
---
<div style="width: 100%">
<h1><a href="/">蓼食う本の虫制作室</a></h1>
</div>

<style>
    div {
        border-top:  20px #DAFF0B solid;
        margin-top: 0;
        padding-left: 40px;
        width: 100%;
    }

    h1 {
        color: #DAFF0B;
        -webkit-text-stroke:1.4px black;
        font-weight: norm;
        background-color: #DAFF0B;
        display: inline-block;
        padading: 8px 16px;
    }

    h1 {
  animation: floating-y 1.8s ease-in-out infinite alternate-reverse;
}
@keyframes floating-y {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(5%);
  }
}

h1 a {
    text-decoration: none;
    color: #DAFF0B
}
</style>