---
import '../styles/global.css';
import Navigation from '../components/navigation-components/Navigation.astro';
import Header from '../components/navigation-components/Header.astro';

import TopContainer from '../components/top-components/TopContainer.astro';
import WorksContainer from '../components/top-components/WorksContainer.astro';
import FeatureContainer from '../components/top-components/FeatureContainer.astro';
import ServiceContainer from '../components/top-components/ServiceContainer.astro';
import Marquee from '../components/top-components/Marquee.astro';

import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "蓼食う本の虫制作室 - Webを中心にさまざまなクリエイティブを提供する制作プロダクション";
---


<BaseLayout pageTitle={pageTitle}>
	<TopContainer />
  <div class="marquee">
  <div class="marquee-inner">Design Dev SEO Writing Edit Photo Design Dev SEO Writing Edit Photo</div>
  <div class="marquee-inner" aria-hidden="true">Design Dev SEO Writing Edit Photo Design Dev SEO Writing Edit Photo</div>
</div>
  <Marquee />
	<WorksContainer />
  <FeatureContainer />
  <ServiceContainer />
</BaseLayout>
